.section {

      }

.section header {
      text-align: center;
      }

.section header:after {
      display: block;
      content: '';
      height: 3px;
      width: 6em;
      background: black;
      margin: 1em auto 2em auto;
      }

.section header a {
      color: #000000;
      text-decoration: none;
      }

.section header h1,
.section header h2,
.section header h3 {
      margin: 0;
      }

/*
 * Section - Team
 */

.section.section-team .wrapper {
      padding-bottom: 3em;
      }

/*
 * Section - Call to Action
 */

.section.section-cta .wrapper {
      display: flex;
      padding: 4em 4em 2em 4em;
      }

.section.section-cta header {
      text-align: left;
      }

.fa-globe-americas {
      text-align: right;
      font-size: 9em;
      flex: 1 1 40%;
      /*color: #091123;*/
      color: #68347B;
      }

.section.section-cta header:after { display: none; }

/*
 * Section - Newsletter
 */
.section.section-newsletter {
      padding: 4em;
      background-color: #68347b;
      background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.16'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

.section.section-newsletter header,
.section.section-newsletter header a {
      color: #FFFFFF;
      }

.section.section-newsletter header:after { background-color: #FFF;}

/*
 * Section - Testimonials
 */
.section-testimonials .wrapper {
      padding: 3em 0;
      }

.section.section-testimonials {
      background: repeating-linear-gradient(-45deg, #FFF, #FFF 10px, #FBFBFB 10px, #FBFBFB 20px);
      }

.section-testimonials {
      box-shadow: 0 17px 15px 0 rgba(0,0,0,0.1);
      }


.section-testimonials .users-list li .user-message {
      padding: 0;
      margin: 0 0 1em 0;
      }